.bmpui-seekbar-backdrop {
    background-color: blue !important;
}

.bmpui-ui-subtitlesettingsresetbutton {
    display: none !important;
}


.bmpui-ui-subtitlesettingstogglebutton {
    display: none !important;
}

.bmpui-ui-subtitle-overlay {
    display: none !important;
}
